<?xml version="1.0"?>
<robot name="leodrive_bus" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="config_dir" default="$(find leodrive_bus_vehicle_description)/config"/>

  <!-- Vehicle body (Isuzu bus platform) -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="12.0 2.5 3.2"/>
      </geometry>
      <material name="white">
        <color rgba="1.0 1.0 1.0 0.8"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="12.0 2.5 3.2"/>
      </geometry>
    </collision>
  </link>

  <!-- Sensor kit is included via sensors.xacro in leodrive_bus_sensor_kit_description -->
</robot>
